Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
string = 'String'
list_ = [1,2,3,4.5,10e5,"String"]
float_ = 7.5
tuple_ = (1,2,3,4,5)

print(type(string))
print(type(list_))
print(type(float_))
print(type(tuple_))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

The below operators are arithmetic operators, which can be used for arithmetic operation
1. / this operator used for division and it provides quotient as result
2. % this is known as modulus operator, and it provides reminder as quotient
3. // it known as floor division operator, used when you require an integer or need to return the smallest integer less than or equal to the input.
4. ** it is known as power operator, it returns first raised to power second

In [6]:
a = 11 / 5
print("Quotient = ",a)

b = 11 % 5
print("Reminder = ",b)

c = 11 // 5
print("Floor Division = ",c)

d = 5 ** 3
print("3rd Power of 5 = ",d)

Quotient =  2.2
Reminder =  1
Floor Division =  2
3rd Power of 5 =  125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

for i in rand_list:
    print(i)

[3, 5, 7, 7, 8, 8, 5, 9, 7, 5]
3
5
7
7
8
8
5
9
7
5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [23]:
a = 27
b = 3
i = 0
while a%b == 0:
    a = a // b
    i+=1
if (i==0):
        print("a is not purely divisible by b")
else:
    print("a is purely divisible by b, by ",i," times")

a is purely divisible by b, by  1  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
int_list = list(range(1,26))
for i in int_list:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they are created. If you try to modify an immutable object, a new object is created instead. Examples of immutable data types include:

Integers
Float
Strings
Tuples
Booleans

======================================================================================================================================================

Mutable Data Types:

Mutable data types are those whose values can be changed after they are created. Examples of mutable data types include:

Lists
Dictionaries
Sets

In [28]:
# Imutable example
string = "str"
string[1] = '$'
print(string)

TypeError: 'str' object does not support item assignment

In [31]:
# Mutable example
list_ = [1,2,3,4,5,6]
list_[5] = "SIX"
print(list_)

[1, 2, 3, 4, 5, 'SIX']